.parent{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 1%;
    justify-content: space-evenly;
}
.child1 {
    box-shadow: 0 0 5px grey;
    width: 900px;
    height: 200px;
    background-color: aqua;
}

.child2 p  {
    margin-top: 15px;
    width: 500px;
    height: 200px;
    box-shadow: 0 0 5px grey;
    background-color: blueviolet;

    
}
.child2 h1  {
    margin-top: 15px;
    width: 1300px;
    height: 200px;
    box-shadow: 0 0 5px grey;
    background-color: blueviolet;
    
}
.child3{
    margin-top: 0px;
    width: 1820px;
    height: 200px;
    box-shadow: 0 0 5px grey;
    background-color: yellow;
}
